#login_signup_wrapper {
  width: 100dvw;
  height: 93dvh;
  margin: auto;
  position: relative;
}

#login_signup {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(35%, 7%);
  background-color: red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 60dvh;
  width: 60%;
  margin: 5% auto 0;
  box-shadow: 0 0 10px 0 var(--tertairy-color);
  border-radius: 0.5dvw;
}

#signUp > h1,
#login > h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 3dvh 0;
  color: var(--primary-color);
}

#signUp {
  margin-top: 3dvh;
}

#signUp > div {
  display: flex;
  flex-direction: column;
  row-gap: 3.5dvh;
  width: 80%;
  margin: 0 auto;
}

#signUp > div > div,
#login > div > div {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1dvh;
}

#signUp > div > div > label,
#login > div > div > label {
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: 1dvh;
  left: 0.5dvw;
  color: var(--secondary-color);
  transition: top 0.3s ease-in-out;
}

#signUp > div > div:nth-child(4) > button,
#login > div > div:nth-child(2) > button {
  position: absolute;
  top: 1.5dvh;
  right: 1dvw;
  color: var(--secondary-color);
  transition: top 0.3s ease-in-out;
  font-size: 1.2rem;
  border: none;
  background: none;
  cursor: pointer;
}

#signUp > div > div > input,
#login > div > div > input {
  border: 1px solid var(--primary-color);
  width: 95%;
  padding: 1dvh 0.5dvw;
  margin-top: 1dvh;
  border-bottom: 1px solid var(--primary-color);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
}

#signUp > div > div input:focus,
#signUp > div > div input:valid,
#login > div > div input:focus,
#login > div > div input:valid {
  outline: none;
}

#signUp > div > div > input:focus ~ label,
#signUp > div > div > input:valid ~ label,
#login > div > div > input:focus ~ label,
#login > div > div > input:valid ~ label {
  top: -1dvh;
  font-size: 0.8rem;
}

#signUp > div > div:nth-last-child(1),
#login > div > div:nth-last-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1dvh;
}

#signUp > div > div:nth-last-child(1) > button,
#login > div > div:nth-last-child(1) > button {
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 60%;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1dvh 3dvw;
  margin: 0 auto;
  border-radius: 0.5dvw;
  cursor: pointer;
}

#signUp > div > div:nth-last-child(1) > div > button,
#login > div > div:nth-last-child(1) > div > button {
  font-weight: bold;
  color: var(--secondary-color);
  background: none;
  padding: 0.2dvh 0.5dvw;
  border-radius: 5px;
  cursor: pointer;
}

/* ---------- Login and SignUp Page CSS End --------------- */

/* ----------- Login few details ---------------------  */

#login {
  margin-top: 5dvh;
}

#login > div {
  display: flex;
  flex-direction: column;
  row-gap: 3.5dvh;
  width: 80%;
  margin: 5dvh auto 0;
}

/* ----------- animation ---------------------  */

#login_signup {
  transition: background 0.5s ease-in-out;
}
