#login_signup_wrapper {
  width: 100dvw;
  height: 93dvh;
  margin: auto;
  position: relative;
  background: url("../images/login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#login_signup {
  position: absolute;
  top: 0;
  left: 35%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 60dvh;
  width: 30%;
  margin: 5% auto 0;
  background-color: rgba(255, 255, 255, 0.062);
  backdrop-filter: blur(10px);
  border-radius: 0.5dvw;
}

#signUp > h1,
#login > h1 {
  color: var(--primary-color);
  text-align: center;
  font-size: 2rem;
  margin: 3dvh 0;
}

#signUp {
  margin-top: 3dvh;
}

#signUp > div {
  display: flex;
  flex-direction: column;
  row-gap: 3.5dvh;
  width: 80%;
  margin: 0 auto;
}

#signUp > div > div,
#login > div > div {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1dvh;
}

#signUp > div > div > label,
#login > div > div > label {
  font-size: 1.2rem;
  position: absolute;
  top: 1dvh;
  left: 0.5dvw;
  color: white;
  transition: top 0.3s ease-in-out;
}

#signUp > div > div:nth-child(4) > button,
#login > div > div:nth-child(2) > button {
  position: absolute;
  top: 1.5dvh;
  right: 1dvw;
  color: var(--primary-color);
  transition: top 0.3s ease-in-out;
  font-size: 1.2rem;
  border: none;
  background: none;
  cursor: pointer;
}

#signUp > div > div > input,
#login > div > div > input {
  width: 95%;
  padding: 1dvh 0.5dvw;
  margin-top: 1dvh;
  border-bottom: 1px solid var(--primary-color);
  background-color: transparent;
  color: wheat;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
}

#signUp > div > div input:focus,
#signUp > div > div input:valid,
#login > div > div input:focus,
#login > div > div input:valid {
  outline: none;
}

#signUp > div > div > input:focus ~ label,
#signUp > div > div > input:valid ~ label,
#login > div > div > input:focus ~ label,
#login > div > div > input:valid ~ label {
  top: -1dvh;
  font-size: 0.8rem;
}

#signUp > div > div:nth-last-child(1),
#login > div > div:nth-last-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1dvh;
}

#signUp > div > div:nth-last-child(1) > button,
#login > div > div:nth-last-child(1) > button {
  background-color: var(--primary-color);
  color: white;
  width: 60%;
  border: none;
  font-size: 1.2rem;
  padding: 1dvh 3dvw;
  margin: 0 auto;
  border-radius: 0.5dvw;
  cursor: pointer;
}

#signUp > div > div:nth-last-child(1) > div > button,
#login > div > div:nth-last-child(1) > div > button {
  color: var(--white-color);
  background: none;
  padding: 0.2dvh 0.5dvw;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

/* ---------- Login and SignUp Page CSS End --------------- */

/* ----------- Login few details ---------------------  */

#login {
  margin-top: 5dvh;
}

#login > div {
  display: flex;
  flex-direction: column;
  row-gap: 3.5dvh;
  width: 80%;
  margin: 5dvh auto 0;
}

/* ----------- Media Query ---------------------  */

@media screen and (max-width: 430px) {
  #login_signup {
    top: 10%;
    left: 5%;
    height: fit-content;
    padding: 3dvh 0;
    width: 90%;
    margin: 0 auto;
  }

  #signUp > h1,
  #login > h1 {
    font-size: 2rem;
  }

  #signUp > div > div > label,
  #login > div > div > label {
    font-size: 1rem;
  }
}

@media screen and (min-width: 431px) and (max-width: 1024px) {
  #login_signup {
    top: 10%;
    left: 20%;
    height: fit-content;
    padding: 3dvh 0;
    width: 60%;
    margin: 0 auto;
  }

  #signUp > h1,
  #login > h1 {
    font-size: 2.5rem;
  }

  #signUp > div > div > label,
  #login > div > div > label {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1025px) {
  #login_signup {
    top: 10%;
    left: 35%;
    height: fit-content;
    padding: 3dvh 0;
    width: 30%;
    margin: 0 auto;
  }

  #signUp > h1,
  #login > h1 {
    font-size: 3;
  }

  #signUp > div > div > label,
  #login > div > div > label {
    font-size: 1.2rem;
  }
}
