#cars_section {
  width: 80%;
  height: 100%;
  margin: 7dvh auto;
  overflow: hidden;
}

#howitworks_section h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 3dvh 0;
  color: var(--primary-color);
}

#howitworks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 100%;
  column-gap: 3vw;
  margin: auto;
}

#howitworks div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 var(--tertairy-color);
  border-radius: 10px;
  padding: 1dvh 0 3dvh;
  row-gap: 1dvh;
}

#howitworks > div:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

#howitworks div p:nth-of-type(1) span {
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color);
  padding: 0.5rem;
}

#howitworks div p:nth-of-type(2) {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-color);
}

#howitworks div p:nth-of-type(3) {
  font-size: 1rem;
  width: 80%;
  text-align: center;
}

/*------------- TOP RATED SECTION ---------------*/

#toprated_container {
  width: 100%;
  height: 100%;
}

#toprated_container h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
  margin: 10dvh 0 3dvh;
  text-align: center;
}

#toprated > div:nth-child(1) button {
  color: var(--secondary-color);
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  padding-bottom: 0.5dvh;
}

#toprated > div:nth-child(1) button:hover {
  transform: scale3d(1.2, 1.2, 1.2);
  transition: transform 0.2s ease-in-out;
}

#toprated > div:nth-child(1) > button::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: red;
}

@keyframes move {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#toprated > div:nth-child(1) > button:hover::after {
  animation: move 0.5s linear forwards;
}

#toprated > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3dvh;
  width: 40%;
  margin-left: 2dvw;
}

#toprated_cards_container {
  position: relative;
  border-radius: 10px;
}

#toprated_cars {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 35%;
  height: 40dvh;
  transform: perspective(20px) rotateY(10deg);
  position: relative;
}

.cars_card {
  width: 90%;
  height: 300px;
  box-shadow: 0 0 15px 0 var(--tertairy-color);
  border-radius: 15px;
  padding: 1dvh 0 3dvh;
  
}

.toprated_section_features {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.toprated_section_features > p:nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.toprated_section_features {
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color);
  padding: 1dvh 0;
  border-radius: 10px;
}

.toprated_img_section {
  width: 300px;
  height: 250px;
}

.toprated_nav_btn button {
  position: absolute;
  top: 45%;
  border: none;
  font-size: 2rem;
  background-color: var(--white-color);
  padding: 0.5dvh;
  color: var(--primary-color);
}

.toprated_nav_btn button:nth-child(1) {
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.toprated_nav_btn button:nth-child(2) {
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.toprated_nav_btn button:active {
  background: var(--tertairy-color);
}
