#navigation {
  width: 100%;
  height: 7dvh;
  position: sticky;
  top: 0;
  z-index: 2;
}

@property --range {
  syntax: "<angle>";
  inherits: false;
  initial-value: 120deg;
}

nav {
  display: grid;
  grid-template-columns: 20% 40% 10%;
  width: 99.5%;
  height: 7dvh;
  margin: 0 auto;
  position: relative;
  justify-content: space-around;
  align-content: center;
  background-color: whitesmoke;
  position: absolute;
  top: 0.3dvh;
  left: -0dvw;
  border-radius: 10px;
  position: relative;
}

#navigation > div {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 110%;
  height: 120%;
  z-index: -3;
}

#navigation > div::before,
#navigation > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(from var(--range), red, green, blue, violet, yellow, red);
  z-index: 2;
  animation: slider 3s infinite linear;
}

#navigation > div::after {
  filter: blur(1.5rem);
  opacity: 0.2;
}

@keyframes slider {
  0% {
    --range: 0deg;
  }
  100% {
    --range: 360deg;
  }
}

nav > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
}

nav > div > .navlink {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.1rem;
}

nav > div > .navlink:after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px;
  background-color: var(--primary-color);
  transition: width 0.5s ease-in-out;
}

nav > div > .navlink:hover, 
nav > div > p:hover {
  transform: scale3d(1.2, 1.2, 1.2);
  transition: transform 0.2s ease-in-out;
}

nav > div > .navlink:hover::after {
  width: 100%;
}

nav > .logo_parent {
  width: 50%;
  height: 50%;
  margin: auto;
}

nav > .logo_parent > img {
  width: 100%;
  height: 100%;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.logo_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: scale 0.3s infinite ease-in-out alternate;
  mix-blend-mode: darken;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

nav > div > p {
  color: var(--secondary-color);
}

nav > div > p:active{
  color: var(--primary-color);
}


/* -------------- Carousel -------------- */

#carousel_wrapper {
  width: 100%;
  height: fit-content;
  position: relative;
  overflow: hidden;
}

#image_container {
  display: flex;
  width: 500vw;
  height: 100%;
}

.image {
  width: 100vw;
  height: 100%;
}

#button > button {
  position: absolute;
  top: 40%;
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
  padding: 0.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.5s ease-in-out;
}

#button button:nth-child(1) {
  left: 1vw;
}

#button button:nth-child(2) {
  right: 1vw;
}
