:root {
  --text-color: #333333;
  --background-color: #f8f9fa;
  --button-color: #1d3f3c;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}

#carousel_container {
  width: 100%;
  position: relative;
}

#carousel {
  width: 100%;
  display: flex;
  overflow: hidden;
}

#images {
  display: flex;
  width: 600vw;
  height: 90dvh;
  background: linear-gradient(to bottom, white 80%, rgb(63, 52, 52));
}

.image_tag {
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right bottom;
}

#button button {
  position: absolute;
  top: 50%;
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
  padding: 0.2rem;
  border-radius: 10px;
  border: none;
}

#button button:nth-child(1) {
  left: 1vw;
}

#button button:nth-child(2) {
  right: 1vw;
}

.car_details {
  position: absolute;
  top: 10vw;
  left: 7vw;
  color: var(--text-color);
  font-weight: bold;
}

.car_details > p:nth-child(1) {
  font-size: 0.9rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  width: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 10%;
}

.car_details .car_details_title {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 1rem;
}

.car_details div > p:nth-child(1) {
  font-size: 3.5rem;
}

.car_details div > p:nth-child(2) {
  font-size: 2.5rem;
}

.car_details_bio {
  font-size: 1.5rem;
}

.car_details button {
  background-color: var(--button-color);
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  margin-top: 3rem;
}

.car_details_features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 30vw;
  row-gap: 2vh;
  column-gap: 2vw;
  margin-top: 5rem;
}

.car_details_features div:nth-of-type(1),
.car_details_features div:nth-of-type(2) {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}

.car_details_features div:nth-of-type(1) p:nth-of-type(1),
.car_details_features div:nth-of-type(2) p:nth-of-type(1) {
  font-size: 1.5rem;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.car_details_features div:nth-of-type(1) p:nth-of-type(2),
.car_details_features div:nth-of-type(2) p:nth-of-type(2) {
  font-size: 1.2rem;
}

.car_details_features div:nth-of-type(1) p:nth-of-type(3),
.car_details_features div:nth-of-type(2) p:nth-of-type(3) {
  font-size: 1rem;
}
