#service_wrapper {
  width: 80%;
  margin: 10dvh auto 0;
}

#services_container h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 3dvh 0;
  color: var(--primary-color);
}

#services_section {
  display: grid;
  grid-template-columns: 60% 40%;
}

#services_section > div:nth-child(1) img {
  width: 100%;
  height: 100%;
}

#services_section > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-self: center;
  row-gap: 3dvh;
}

#services_section > div:nth-child(2) > div:hover{
  cursor: pointer;
  transform: scale3d(1.1, 1.1, 1.1);
  transition: transform 0.2s ease-in-out;
}

#services_section > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  column-gap: 1dvw;
}

#services_section > div:nth-child(2) > div > p:nth-child(1) {
  box-shadow: 0 0 10px 0 var(--tertairy-color);
  padding: 1dvh;
  border-radius: 10px;
}

#services_section > div:nth-child(2) > div > p:nth-child(1) span {
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color);
}

#services_section > div:nth-child(2) > div > div:nth-child(2) {
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

#services_section > div:nth-child(2) > div > div:nth-child(2) p:nth-child(1) {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

#services_section > div:nth-child(2) > div > div:nth-child(2) p:nth-child(2) {
  font-size: 0.9rem;
}

/*----------------- Customer Review ----------------- */

#customer_review {
  margin: dvh auto 0;
}

#customer_review > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#customer_review > div:nth-child(1) > h1 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: var(--heading-size);
}

#customer_review > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 5dvh;
  column-gap: 5dvh;
  margin: 5dvh auto 0;
  width: 80%;
}

#review {
  display: flex;
  flex-direction: column;
  row-gap: 2dvh;
  border-radius: 10px;
  padding: 2dvh;
  box-shadow: 0 0 10px 0 var(--tertairy-color);
}

#review:hover{
  cursor: pointer;
  transform: scale3d(1.1, 1.1, 1.1);
  transition: transform 0.2s ease-in-out;
}

#review > div {
  display: flex;
  align-items: center;
  row-gap: 2dvh;
  column-gap: 2dvh;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 1dvh;
}


#review > div > div > p:nth-child(1) {
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: bold;
}


#review > div > div > p:nth-child(2) {
  font-size: 0.9rem;
}
