* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

head,
body {
  height: 100%;
  width: 100%;
}

:root {
  --primary-color: #df2434;
  --secondary-color: #143846;
  --tertairy-color: #9e0771;
  --heading-size: 3rem;
  --button-color : #2e8b57; 
}
